[submit]
	action = fast forward only
[project]
	state = active
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	abandon = group ldap/eclipse.platform.releng
	create = group ldap/eclipse.platform.releng
	forgeAuthor = group ldap/eclipse.platform.releng
	push = group ldap/eclipse.platform.releng
	label-Code-Review = -2..+2 group ldap/eclipse.platform.releng
	label-IP-Clean = -1..+1 group ldap/eclipse.platform.releng
	label-Verified = -1..+1 group ldap/eclipse.platform.releng
	submit = group ldap/eclipse.platform.releng
[access "refs/tags/*"]
	pushTag = group ldap/eclipse.platform.releng
