[submit]
	action = fast forward only
	mergeContent = false
[project]
	state = active
	description = Eclipse Platform Aggregator
[access "refs/heads/*"]
	abandon = group ldap/eclipse.platform.releng
	create = group ldap/eclipse.platform.releng
	forgeAuthor = group ldap/eclipse.platform.releng
	push = group ldap/eclipse.platform.releng
	label-Code-Review = -2..+2 group ldap/eclipse.platform.releng
	label-IP-Clean = -1..+1 group ldap/eclipse.platform.releng
	label-Verified = -1..+1 group ldap/eclipse.platform.releng
	submit = group ldap/eclipse.platform.releng
[access "refs/tags/*"]
	pushTag = group ldap/eclipse.platform.releng
	create = group ldap/eclipse.platform.releng
	push = group ldap/eclipse.platform.releng
	pushSignedTag = group ldap/eclipse.platform.releng
[access "refs/heads/${username}/*"]
	exclusiveGroupPermissions = create push pushMerge
	create = group ldap/eclipse.platform.releng
	push = +force group ldap/eclipse.platform.releng
	pushMerge = group ldap/eclipse.platform.releng
[access "refs/tags/${username}/*"]
	exclusiveGroupPermissions = create push pushTag pushSignedTag
	create = group ldap/eclipse.platform.releng
	push = +force group ldap/eclipse.platform.releng
	pushTag = +force group ldap/eclipse.platform.releng
	pushSignedTag = group ldap/eclipse.platform.releng
